.doctorImage {
  border-radius: 50%;
  border: 1px solid #dee2e6;
}

.assign-doctor {
  color: #292929;
  font-weight: 400;
  font-size: 14px;
}

.assign-header {
  color: #8A8D93;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #F5F7FA;
  padding: 8px;
}


.page-btn {
  border: none;
  background: transparent;
  padding: 4px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  color: #8A8D93;
  text-decoration: none;
  font-weight: 600;
}

.page-btn:hover {
  background: #f3f3f3;
}

.page-btn.active {
  background: #EDF5FF;
  color: #2B4360;
  font-weight: 600;
}

.dots {
  color: #999;
  padding: 0 6px;
}

.Previous-button {
  color: #8A8D93;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: none;
}

.slot-btn {
  border: 1px solid #666B7A;
  background-color: #fff;
  color: #666B7A;
  padding: 4px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

/* /* Hover / */
.slot-btn:hover:not(:disabled) {
  border-color: #5AB5B5;
  color: #0694A2;
}

/* / Selected / */
.slot-btn.selected {
  background-color: #EDFAFA;
  border-color: #5AB5B5;
  color: #0694A2;
}

/* / Disabled (force override browser default) */
.slot-btn:disabled,
.slot-btn.disabled {
  background-color: #F0F0F0 !important;
  border: 1px solid #CCCCCC !important;
  color: #B0B4C1 !important;
  cursor: not-allowed !important;
}


@media (max-width: 767px) {
  .slot-btns {

    width: 33% !important;
  }
}

@media (max-width: 525px) {

  .page-btn {
    padding: 5px;
  }
}

@media (max-width: 425px) {

  .page-btn {
    padding: 2px;
    font-size: 11px;
  }
}