/* Remove default styles */
.custom-tabs .nav-item .nav-link {
    color: #6c757d; /* Light text */
    font-weight: 600;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 12px 16px;
  }
  
  .custom-tabs .nav-item {
    flex: unset;
    text-align: center;
    text-wrap: nowrap;
  }
  
  /* Active Tab */
  .custom-tabs .nav-link.active {
    color: #1E2A37; /* Dark text */
    font-weight: 600;
    border-bottom: 2px solid #284b73; /* Blue underline */
    background-color: transparent;
  }
  
  /* Hover State */
  .custom-tabs .nav-link:hover {
    color: #1E2A37;
  }
  
  /* Disabled Tabs */
  .custom-tabs .nav-link.disabled {
    color: #adb5bd;
    cursor: not-allowed;
  }
  
  /* Remove default bootstrap border */
  .custom-tabs .nav-tabs {
    border-bottom: 1px solid #d9d9d9;
  }

  .custom-tabs {
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  