.maiacare-input-field-label {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.maiacare-input-field{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}