:root {
  --color-bg: #f5f7fa;
  --color-white: #fff;
  --color-black: #000;
  --color-border: #e2e8f0;
  --color-brand: #2b4360;
  --color-heading: #292929;
  --color-icon-border: #DDE1E8;
  --color-sidebar-icon: #8A8D93;
  --sidebar-width: 225px;
  --sidebar-width-collapsed: 58px;
  --color-radio: #B0B4C1;
  --color-radio-lable: #3E4A57;
  --color-modal-heading: #E29578;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: 'Poppins', sans-serif;
}