:root {
  --color-bg: #f5f7fa;
  --color-white: #fff;
  --color-black: #000;
  --color-border: #e2e8f0;
  --color-brand: #2B4360;
  --color-heading: #292929;
  --color-icon-border: #DDE1E8;
  --color-sidebar-icon: #8A8D93;
  --sidebar-width: 225px;
  --sidebar-width-collapsed: 58px;
  --color-radio: #B0B4C1;
  --color-subtitle-pink: #E29578;
  --color-radio-lable: #3E4A57;
  --color-modal-heading: #E29578;
  --color-modal-subheading: #94A3B8;
  --color-modal-border: #CBD5E1;

  --font-subtitle: #8A8D93;
  --login-font: #E29578;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: var(--font-popins) !important;
}


.font-geist-sans {
  font-family: var(--font-geist-sans) !important;
}

.font-geist-mono {
  font-family: var(--font-geist-mono) !important;
}

.test .maiacare-input-field {
  padding-left: 33px;
}

.icon-color {
  color: #2B4360;
}

.eye-color {
  color: #B0B4C1;
}

.active-tab {
  background-color: #2B4360;
  color: #fff !important;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
}

.lock-image {
  height: 50px;
  width: 50px;
}

.custom-pagination .page-item .page-link {
  border: none;
  background: transparent;
  color: #8A8D93;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
}

.custom-pagination .page-item.active .page-link {
  background-color: #EDF5FF;
  color: #2B4360;
  border-radius: 6px;
}

.custom-pagination .page-item.disabled .page-link {
  color: #8A8D93;

}

.custom-pagination .page-item:first-child .page-link,
.custom-pagination .page-item:last-child .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-results {
  color: #8A8D93;
  font-size: 14px;
  font-weight: 500;
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.patient-detail-page .overflow-auto {
  scrollbar-width: none;
  /* Firefox */
}

.patient-detail-page .overflow-auto::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.Assign-button {
  background-color: #2B4360 !important;
  border-color: #2B4360 !important;
  width: 108px;
  height: 32px;
  border-radius: 8px;
}

.women-image {
  height: 35px;
  width: 35px;
}


@media (max-width: 525px) {

  .searchbar-content {
    justify-content: center !important;
  }

}

.patient-box {
  height: 80%;
}

/* Edit-Kyc-Details Start */
.kyc-edit-aadhar {
  height: 100%;
  width: 100%;
}

.kyc-edit-aadhar-photo {
  display: none;
}

.licence-data {
  cursor: pointer;
}

.qualification-certificates-data {
  height: 160px;
  width: 160px;
}

.qualification-certificates {
  border: 2px dotted #DDE1E8 !important;
}

.qualification-certificates-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.qualification-certificates-file-title {
  max-width: 100%;
}

.qualification-certificates-add-new-file {
  width: 160px;
  height: 160px;
  cursor: pointer;
}

.qualification-certificates-progress-bar {
  height: 8px;
}

.qualification-certificates-edit-btn {
  width: 50px;
  height: 49px;
  margin-top: 30px;
}

/* Edit-Kyc-Details-End */
/* Edit-Basic-Details-Start */
.edit-basic-details-modal {
  width: 160px;
  height: 160px;
  border-radius: 16px;
}

.edit-basic-details-image {
  object-fit: cover !important;
}

.edit-basic-details-error-font {
  font-size: 14px !important;
}

.edit-basic-details-edit-button {
  cursor: pointer;
}

.edit-basic-details-edit-input {
  display: none;
}

.edit-basic-camera-icon {
  cursor: pointer !important;
}

.edit-basic-qualification-button {
  width: 32px;
  height: 32px;
  padding: 0;
}

/* Edit-Basic-Details-End */
/* Appointment Patient Detail Page Start*/
.appointment-patient-detail-image {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1050;
}

/* Appointment Patient Detail Page End */

/* Consultation-Start */
.consultations-image-summary-cards {
  display: flex;
  gap: 10px;
}

.consultations-image-book {
  display: flex;
  align-items: center;
  width: 190px;
}

/* Consultation-End */
/* Inventory Start */
.inventory-serach-fillter {
  display: flex;
  gap: 10px;
}

.inventory-serach-consulations {
  display: flex;
  align-items: center;
  width: 190px;
}

/* Inventory End */
/* Inventory Detail Page Start */
.inventory-detail-page-textarea {
  border: 1px solid #DDE1E8;
}

.inventory-detail-page-button {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1050;
}

/* Inventory Detail Page End */

/* AppointmentSummaryCards Start */
.appointment-summary-cards {
  cursor: pointer !important;
}

/* AppointmentSummaryCards End */

/* SiteLayout Start */
.sitelayout-header-icon {
  cursor: pointer !important;
}

/* SiteLayout End */




/* Scroall Bar Hide Start */
/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* Prevent scroll still works */
body {
  overflow: auto;
}

/* Scroall Bar Hide End */

/* Hide default time picker icon for Chrome, Edge, and Safari */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Optional: For Firefox */
.edit-basic-detail-timepicker input[type="time"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 376px) {
  .edit-basic-detailsat-sun {
    margin-top: 5px !important;
  }
}

/* Remove background and shadow on accordion expansion  FOR ALL ACCORDION*/
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.form-select {
  --bs-form-select-bg-img: url(../assets/images/Arrow.png);
  width: 100%;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  background-position: right .75rem center;
  background-repeat: no-repeat;
  background-size: 17px 9px;
}

.profile-icon-border .maiacare-button {
  padding: 9px 10px !important;
}

.profile-icon-border .outline-layout {
  border: 1px solid #DDE1E8 !important;
}

.profile-card-boeder:hover {
  background-color: white !important;
}

.pation-profile-data .content-layout {
  padding: 16px !important;
}

.pation-profile-dataa .content-layout {
  padding: 30px !important;
}

/* code form doctor start*/

.cursor-pointer-custom {
  cursor: pointer !important;
}

.input-email-data {
  position: absolute;
  top: 55%;
  left: 2%;
}

.passwored-btn-icon {
  top: 69% !important;
}

.eye-color {
  color: #B0B4C1 !important;
}



/* code form doctor end*/