.maia-care-image {
    height: 30px;
    width: 90px;
}

.image-col {
    position: relative;
    overflow: hidden;
}

.image-full {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image-overlay-text {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    font-weight: 600;
    font-size: 35px;
    color: #223142;
    line-height: 44px;
}

.forget-password {
    font-weight: 700;
    font-size: 14px;
    color: #2B4360;
}

.password-toggle-icon {
    color: #9ca3af;
    /* matches Tailwind gray-400 */
}