.maia-care-image {
    height: 30px;
    width: 90px;
}

.image-col {
    position: relative;
    overflow: hidden;
}

.image-full {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.image-overlay-text {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;

}

.forget-password {
    font-weight: 700;
    font-size: 14px;
    color: #2B4360;
}

.password-toggle-icon {
    color: #9ca3af;
    /* matches Tailwind gray-400 */
}

/* code form doctor start */

.input-email-login-data .maiacare-input-field {
    padding-left: 40px !important;
    padding-right: 40px !important;
    color: var(--color-radio-lable) !important;

}

.input-email-login-data .maiacare-input-field::placeholder {
    color: var(--color-radio) !important;
}

.forgot-passwored-detail {
    max-width: 860px;
}

.verificationcode-main {
    padding: 48px;
    background-color: #FFFFFF;
    /* height: 420px ;
    width: 652px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px !important;

}

@media screen and (min-width: 1400px) {
    .forgot-passwored-detail {
        width: 53% !important;
    }
}

@media screen and (min-width: 1100px) {
    .forgot-passwored-detail {
        width: 53% !important;
    }
}

@media screen and (max-width:767px) {
    .forgot-passwored-detail {
        width: 68% !important;
    }
}

@media screen and (max-width:575px) {
    .forgot-passwored-detail {
        width: 95% !important;
    }
}

/* code form doctor end */