.phisical-assessment-accordion-showData-box {
    border: 1px solid var(--google-icon-border);
    padding: 14px;
    border-radius: 8px;

}

.phisical-assessment-accordion-item-edit {
    border-bottom: 1px solid var(--color-brand);
    cursor: pointer;
}