.profile-card {
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.profile-name {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.verified-badge {
  font-size: 14px;
  color: #e74c3c;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 8px; /* spacing between rows */
    margin-top: 10px;
}

.detail-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* spacing between items */
    align-items: center;
}

.profile-member-since {
  font-style: italic;
  font-size: 12px;
  margin-top: 8px;
  color: #888;
}

.edit-profile-btn {
  font-size: 14px;
  padding: 6px 12px;
  
}
